<div class="container">

  <nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/menu">Reservations</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedule">Flights schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/flightline">Flight lines</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/flight">Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Logout</a>
        </li>
    </ul>
  </nav>

      <ejs-schedule [eventSettings]="eventObject" [currentView]="setView"></ejs-schedule>




</div>